<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Ollama Message would use Speech Recognition to generate messages.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ollama Message would use microphone to recognize speech.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Ollama Message would use Local Network to access Ollama service.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
